[Desktop Entry]
Name=OpenTube
Comment=Lightweight YouTube client
Exec=opentube
Icon=opentube
Terminal=false
Type=Application
Categories=AudioVideo;Player;Network;