[submodule "ffMetadataEx"]
	path = ffMetadataEx
	url = https://github.com/OuterTune/ffMetadataEx
[submodule "media"]
	path = media
	url = https://github.com/nift4/media
[submodule "taglib"]
	path = taglib
	url = https://github.com/OuterTune/taglib
